section#join
  p.text-game Чтобы начать игру введите данные
  form(accept-charset='UTF-8' role='form' name='auth' method='POST', action='login')
    .text#name
      div(contentEditable='true', placeholder="Имя...")
    .error
    .text#address
      div(contentEditable='true', placeholder="Почтовый адрес...")
    .error
    .help-message Для получения приза введите свой город, адрес и почтовый индекс
    .text#phone
      div(contentEditable='true', placeholder="Телефон...")
    .error
    .text#email
      div(contentEditable='true', placeholder="Email...")
    .error
    input(
    id='sign-in-name'
    type='text'
    name='name'
    autofocus
    )
    input(
    id='sign-in-address'
    type='text'
    name='address'
    autofocus
    )
    input(
    id='sign-in-phone'
    type='text'
    name='phone'
    autofocus
    )
    input(
    id='sign-in-email'
    type='text'
    name='email'
    autofocus
    )
    p.text-info Все поля обязательны для заполнения
    input(type='hidden' name='_csrf' value= csrfToken)
    input(type='submit' id='start-btn')