extends layout

block content
  table.controls(hidden='',aria-hidden='true')
    tbody
      tr
        td
        td
          div.timer
          div.popup(hidden='',aria-hidden='true')
            ins.close
            p у вас осталось
            p.time
            span мин.
            span сек.
        td

  section
    p.text-game Начать игру
    div.buttons
      button.play-btn

  unless isAuth
    include ./includes/auth.jade

  section#level

  each question in questions
    section(data-question= question.id)
      div.question_row
        p #{question.text}
          ul
            each answer in question.answers
              li(data-answer= answer.id)
                ins
                p #{answer.text}
        if question.tip
          div.tip !{question.tip}

  section#game-over
    ins.close
    p.text-game Игра окончена :(
    button.btn-restart

  section#finish
    div
      p.text-game Поздравляем, игра пройдена
      div.rating
        div.stats-table
          ol

      p.text-info Таблица с рейтингом постоянно обновляется
      a.link Скопировать ссылку рейтинга

  div.helper
  div.popup(hidden='',aria-hidden='true')
    ins.close
    p Вы можете спокойно найти ответы на сайте&nbsp;
      a(href='http://www.dikul.org', target="_blank") www.dikul.org
