doctype html
html(lang="ru")
  head
    meta(charset='utf-8')

    title= title

    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/vendor/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    .background
    .container(hidden='',aria-hidden='true')
      .slides
        block content

    script(src='/vendor/bower_components/jquery/dist/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='http://animate.adobe.com/runtime/6.0.0/edge.6.0.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js')

    script(src='/javascripts/main.js')

    script.
      Game.initialize({
        gameTime: 60 * 30, // 30 min
        lives: 5,
        shuffle: true
      });