@font-face
  font-family 'Belly'
  font-style normal
  src url(../fonts/v_CCBellyLaugh_v1.01.ttf)

*
  box-sizing border-box
  outline none

html, body
  width 100%
  height 100%
  overflow hidden

body
  position relative
  line-height 1
  color #000
  margin 0
  background #D8F4FF

.background
  position absolute
  background url("../img/bg/bg_page1-2-3.jpg")
  width 100%
  height 100%
  z-index 0

.container
  position relative
  width 100%
  height 100%
  overflow hidden
  .slides
    position absolute
    width 100%
    height 100%
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    padding 0 2%
    overflow hidden
    text-align center
    z-index 1
    background url(../img/bg/bg_page1-2-3.jpg)
    &.question
      background url(../img/bg/bg_question.jpg) no-repeat
    &[data-id="9"]
      background url(../img/bg/bg_question_9.jpg) no-repeat
    &[data-id="14"]
      background url(../img/bg/bg_question_14.jpg) no-repeat
    &[data-id="15"]
      background url(../img/bg/bg_question_15.jpg) no-repeat
    &[data-id="23"]
      background url(../img/bg/bg_question_24.jpg) no-repeat
    &[data-id="24"]
      background url(../img/bg/bg_question_25.jpg) no-repeat
    &[data-id="25"]
      background url(../img/bg/bg_question_26.jpg) no-repeat
    &[data-id="game-over"]
      background #76cbf0
    &[data-id="finish"]
      background #ffbd00
    section
      display none
      position absolute
      width 100%
      height 100%
      padding 20px 0
      z-index 10
      &.present
        display block
      &#join
        p
          margin-bottom 10px
      &#level
        button
          display inline-block
          width 350px
          height 150px
          border none
          margin 23% 27px
          cursor pointer
          &.easy
            background url("../img/btn-easy.png") no-repeat 0 0
            background-size 100% auto
          &.hard
            background url("../img/btn-hard.png") no-repeat 0 0
            background-size 100% auto
          &:hover
            background-position 0 100%
      &#game-over
        button
          &.btn-restart
            background url("../img/btn-restart.png") no-repeat 0 0
            background-size 100% auto
            width 18%
            height 115px
            border none
            cursor pointer
            margin-top 11%
            &:hover
              background-position 0 100%
      &#finish
        div
          margin-top 5%
          .text-game
            text-shadow 12px 0 0 #ea7a17, -12px 0 0 #ea7a17, 0 12px 0 #ea7a17, 0 -12px 0 #ea7a17, 11px 11px #ea7a17, -11px -11px 0 #ea7a17, 11px -11px 0 #ea7a17, -11px 11px 0 #ea7a17
          ins
            &.close
              width 80px
              height 80px
              position absolute
              top -50px
              right 0
          p
            &.text-info
              position absolute
              bottom 10%
              width 100%
              text-transform uppercase
              z-index 11
          a
            position absolute
            bottom 9%
            color #ff4800
            font-size 32px
            width 100%
            text-align center
            display block
            cursor pointer
            text-decoration underline
          div
            &.rating
              width 50%
              height 700px
              background url(../img/rating_box.png) no-repeat
              background-size 100% auto
              margin 0 auto
              padding 100px 190px 30px 150px
              div
                overflow-x scroll
                height 417px
                margin 0
                margin-right -38px
                padding-right 38px
                ol
                  text-align left
                  font-size 26px
                  color #086585
                  font-family Comic Sans, Comic Sans MS, cursive
                  font-weight bold
                  margin 0
                  list-style none
                  li
                    min-height 52px
                    padding 10px 0
                    &.active
                      background url(../img/my_result_white_line.png) no-repeat
                      margin 0 -38px
                      padding 10px 38px
                      color #1ebbff
                      ins
                        color #086585
                    &:before
                      content ""
                      background url(../img/result_line.png) no-repeat
                      display block
                      width 100%
                      height 7px
                      margin-top -12px
                      margin-bottom 10px
                    span
                      &:not(.name)
                        float right
                      &.name
                        white-space nowrap
                        overflow hidden
                        text-overflow ellipsis
                        width 80%
                        display inline-block
                    ins
                      float left
                      width auto
                      height auto
                      text-decoration none
                      margin-right 22px
                      color #fff
                      display none
      div
        &.buttons
          position relative
          left 50%
          top 10%
          margin 0
          width 350px
          height 350px
          .play-btn
            position relative
            width 100%
            height 100%
            background url("../img/play-btn.png") no-repeat 0 0
            background-size 100% auto
            border none
            left -50%
            z-index 10
            cursor pointer
            &:hover
              background-position 0 100%
        &.question_row
          margin-top 6%
          text-align left
          width 95%
          ul
            margin-top 5%
            li
              list-style none
              font-family Arial
              font-weight bold
              margin-bottom -29px
              &:hover ins
                background-position 0 -115px
              p
                display inline-block
                background #FFFFFF
                padding 15px 50px 15px 79px
                border-radius 8px
                color #999999
                cursor pointer
                font-size 35px
                &.right
                  color #73c728
                &.wrong
                  color #ff4a1f
              ins
                width 115px
                height 115px
                background url("../img/btn-question.png") no-repeat 0 0
                background-size 100% auto
                display inline-block
                position absolute
                left 0
                margin-top 10px
                cursor pointer
                &:hover
                  background-position 0 -115px
                &.right
                  background-position 0 -230px
                &.wrong
                  background-position 0 -345px
          &>p
            font-size 50px
            font-family 'Belly', Arial, sans-serif
            color #0cb4f2
            line-height 1.2
            //text-shadow 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff
            //text-shadow 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff
            //text-shadow 6px 0 0 #fff, -6px 0 0 #fff, 0 6px 0 #fff, 0 -6px 0 #fff, 5px 5px #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff
            //text-shadow 8px 0 0 #fff, -8px 0 0 #fff, 0 8px 0 #fff, 0 -8px 0 #fff, 7px 7px #fff, -7px -7px 0 #fff, 7px -7px 0 #fff, -7px 7px 0 #fff
            text-shadow 7px 0 0 #fff, -7px 0 0 #fff, 0 7px 0 #fff, 0 -7px 0 #fff, 8px 8px #fff, -8px -8px 0 #fff, 8px -8px 0 #fff, -8px 8px 0 #fff
          div.tip
            max-width 1020px
            min-height 80px
            -webkit-border-radius 0 10px 0 0
            -moz-border-radius 0 10px 0 0
            border-radius 0 10px 0 0
            background-color #fff
            border solid 10px #fff
            background-image -webkit-linear-gradient(bottom, #e9e9e9, #e7e7e7, #f9f9f9)
            background-image -moz-linear-gradient(bottom, #e9e9e9, #e7e7e7, #f9f9f9)
            background-image -o-linear-gradient(bottom, #e9e9e9, #e7e7e7, #f9f9f9)
            background-image -ms-linear-gradient(bottom, #e9e9e9, #e7e7e7, #f9f9f9)
            background-image linear-gradient(to top, #e9e9e9, #e7e7e7, #f9f9f9)
            font 26px Arial, sans-serif
            padding 13px 30px
            display inline-block
            position absolute
            bottom 136px
            left -38px

.animation
  position absolute !important
  bottom 0
//
//.flow-wrapper
//  z-index 0
//  position absolute
//  bottom 0
//  width 100% !important
//  height 100% !important
//  .center-wrapper
//    position absolute
//    left 50%
//    bottom 0
//    .animation
//      left -50%
//      display block

.text-game
  font-family 'Belly', Arial, sans-serif
  color #FFFFFF
  font-size 84px
  //text-shadow 2px 0 0 #2e74ac, -2px 0 0 #2e74ac, 0 2px 0 #2e74ac, 0 -2px 0 #2e74ac, 1px 1px #2e74ac, -1px -1px 0 #2e74ac, 1px -1px 0 #2e74ac, -1px 1px 0 #2e74ac
  //text-shadow 4px 0 0 #2e74ac, -4px 0 0 #2e74ac, 0 4px 0 #2e74ac, 0 -4px 0 #2e74ac, 3px 3px #2e74ac, -3px -3px 0 #2e74ac, 3px -3px 0 #2e74ac, -3px 3px 0 #2e74ac
  //text-shadow 6px 0 0 #2e74ac, -6px 0 0 #2e74ac, 0 6px 0 #2e74ac, 0 -6px 0 #2e74ac, 5px 5px #2e74ac, -5px -5px 0 #2e74ac, 5px -5px 0 #2e74ac, -5px 5px 0 #2e74ac
  //text-shadow 8px 0 0 #2e74ac, -8px 0 0 #2e74ac, 0 8px 0 #2e74ac, 0 -8px 0 #2e74ac, 7px 7px #2e74ac, -7px -7px 0 #2e74ac, 7px -7px 0 #2e74ac, -7px 7px 0 #2e74ac
  //text-shadow 10px 0 0 #2e74ac, -10px 0 0 #2e74ac, 0 10px 0 #2e74ac, 0 -10px 0 #2e74ac, 9px 9px #2e74ac, -9px -9px 0 #2e74ac, 9px -9px 0 #2e74ac, -9px 9px 0 #2e74ac
  //text-shadow 9px 0 0 #2e74ac, -9px 0 0 #2e74ac, 0 9px 0 #2e74ac, 0 -9px 0 #2e74ac, 10px 10px #2e74ac, -10px -10px 0 #2e74ac, 10px -10px 0 #2e74ac, -10px 10px 0 #2e74ac
  text-shadow 12px 0 0 #2e74ac, -12px 0 0 #2e74ac, 0 12px 0 #2e74ac, 0 -12px 0 #2e74ac, 11px 11px #2e74ac, -11px -11px 0 #2e74ac, 11px -11px 0 #2e74ac, -11px 11px 0 #2e74ac

.text-info
  color #FFFFFF !important
  font-size 32px
  font-family "Arial Black", Arial
  font-weight bold
  text-align center
  text-shadow 1px 1px 0 #ccc

.popup
  position absolute
  z-index 10
  p
    font-size 16px
    font-weight bold
  ins
    position absolute
    display block
    right 30px
    top 30px

ins
  &.close
    width 60px
    height 60px
    background url("../img/btn-close.png") no-repeat 0 0
    background-size 100% auto
    z-index: 10
    opacity 1 !important
    cursor pointer
    &:hover
      background-position 0 100%
  &.finish
    background url(../img/btn-finish.png) no-repeat 0 -6px
    background-size 100%
    position absolute
    right 0
    top 2px
    width 90px
    height 100px
    z-index 11
    &:hover
      background-position 0 -115px

.timer
  display block
  width 110px
  height 112px
  background url("../img/btn-time.png") no-repeat 0 -18px
  background-size 100% auto
  cursor pointer
  margin 0 auto
  &:hover
    background-position 0 -151px
  &.active
    background-position 0 -284px
    &.few-time
      background-position 0 -416px
  &+.popup
    background url("../img/bubble_much_time.png") no-repeat
    background-size 100% auto
    width 31%
    top 16%
    left 35.5%
    padding 7% 0
    font-family Comic Sans, Comic Sans MS, cursive
    ins
      top: 20%
      right 9%
    span
      font-size 28px
      color #FFFFFF
      position relative
      top 0
      left -40px
      &+span
        left 50px
    p
      font-size 35px
      color #ffffff
      text-transform uppercase
      margin 5px
      text-shadow 1px 1px
    &.out-of-time
      background url("../img/bubble_few_time.png") no-repeat 0 0
      background-size 100% auto
    .time
      font-size 126px
      &.out-of-time
        color red

table.controls
  width 100%
  z-index 11
  position relative
  margin-top 20px
  tr
    td
      text-align center
      &:nth-child(odd)
        width 40%

.status
  background url("../img/game_line.png") no-repeat
  background-size 100% 100%
  height 80px
  width 100%
  display block
  padding-left 25px
  padding-top 20px
  z-index 10
  a
    &.question_point
      display block
      float left
      width 30px
      height 30px
      background url("../img/navigation.png") no-repeat 0 0
      background-size 100% auto
      z-index 10
      cursor pointer
      &:not(.active)
        &.right
          background-position 0 -66px
        &.wrong
          background-position 0 -98px
    &.active
      background-position 0 -33px
  &.easy
    a.question_point + .question_point
      margin-left 5%
  &.hard
    a.question_point + .question_point
      margin-left 1.3px

ins

.hearts
  height 80px
  width 100%
  a
    &.heart
      background url("../img/Heart-icon.png")
      background-size 100% auto
      display block
      float left
      width 80px
      height 100%
      pointer-events none

.helper
  cursor pointer
  position absolute
  bottom 0
  right 0
  background url("../img/btn-help.png") no-repeat 0 0
  background-size 100% 200%
  display block
  width 500px
  height 200px
  z-index 10
  &:hover
    background-position 0 100%
  &.activ
    background-position 0 100%
  &+.popup
    background url("../img/bubble_help.png") no-repeat
    background-size 100% auto
    width 31%
    height 30%
    bottom 4%
    right 15%
    padding 74px 102px
    color #4e4e4e
    font-family Arial, sans-serif
    ins
      top 15%
      right 12%
    p
      font-size 28px
      line-height 30px
      a
        color #1670b7
        text-decoration underline

form
  width 45%
  margin 0 auto
  font-size 38px
  color #000000
  font-family Comic Sans, Comic Sans MS, cursive
  font-weight 600
  text-shadow 1px 1px 0 #ccc
  position relative
  text-align center
  input
    &[type="text"]
      display none
    &[type="submit"]
      background url(../img/btn-play_game.png) no-repeat 0 0
      border none
      background-size 100% auto
      width 40%
      color transparent
      height 115px
      cursor pointer
      &:hover
        background-position 0 -115px
  div
    &.text
      width 100%
      height 90px
      background url(../img/input_text.png) no-repeat
      background-size 100% 100%
      padding 10px 26px
      margin-bottom 10px
      text-align left
      overflow hidden
      div
        width 100%
        height 55px
        padding-top 15px
        overflow hidden
        cursor text
        &:empty:before
          content attr(placeholder)
          display block
          color #9ac3cc
        div
          height 58px
      br
        display none
      &#address
        height 215px
        background url(../img/input_address.png) no-repeat
        background-size 100% 100%
        margin-bottom 10px
        div
          height 175px
          div
            height 58px
    &.help-message
      background url(../img/help_alarm.png) no-repeat
      background-size 100% auto
      position absolute
      width 60%
      height 295px
      left 90%
      top 0
      font-family Arial
      font-size 26px
      font-weight bold
      color #9d6d1a
      line-height 35px
      padding 77px 95px 0 135px
      display none
    &.error
      display none
      font-family Arial, sans-serif
      font-size 18px
      position relative
      font-weight bold
      color #fff
      padding 15px 20px
      border-radius 20px
      background #de3936
      margin-top -80px
      text-align right
      right 98%
      float right
